#seat-allocation-section {
  .desk {
    display: inline-block;
    width: 6rem;
    height: 7rem;
    text-align: center;
    margin: rem;
    cursor: pointer;
  }

  .allocated-seat {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .form-input-container {
    display: flex;
    justify-content: space-between;
    width: 30rem;
  }
}
